* {
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  background-color: #F5F5F5;
}

.topText {
  position: relative;
  overflow-x: hidden;
  left: 20rem;
  margin-top: 6rem;
  background-color: #F5F5F5;
}

.bold {
  font-weight: 700;
  background-color: #F5F5F5;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F5F5F5;
  margin-top: 1rem;
  z-index: 2;
}